<p>
    <span class="title"> Centre de Notifications </span>
    <ion-buttons style="float: right; margin-right: 5px;">
        <ion-button (click)="showActionSheetCtrl(true)" >
            <ion-icon slot="end" name="trash"></ion-icon>
        </ion-button>
    </ion-buttons>
</p>
<ion-content>
    <ion-list lines="none">
        <div *ngFor="let notif of wsNotif.tmpNotif; let index=index" >
            <div *ngIf="notif.type !==  typeNotif_AccountSignal || notif.type !==  typeNotif_admin || notif.type !== typeNotif_PremiumConfirmation">
                <ion-item-sliding>
                    <ion-item-options side="start">
                      <ion-item-option color="danger" (click)="showActionSheetCtrl(false, index)" >
                        <ion-icon slot="end" name="trash"></ion-icon>
                          Supprimer
                      </ion-item-option>
                    </ion-item-options>
                        <ion-item (click)="goToDetails(notif.publication, index, notif.isRead, (notif.id_UsersSender === 0))" >
                            <ion-avatar slot="start" *ngIf="notif.profilImgUrlSender != null ">
                                <img alt="Avatar" [src]="notif.profilImgUrlSender" />
                            </ion-avatar>
                            <ion-avatar slot="start" *ngIf="notif.profilImgUrlSender == null" >
                                <img alt="Avatar" src="/assets/icon/avatar.svg" />
                            </ion-avatar>
                            <ion-label text-wrap>
                                <span style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%;"> <b class="name"> {{ notif.nomSender }} {{ notif.prenom }}</b> &nbsp;{{ notif.message }} : </span>
                                <span *ngIf="notif.id_UsersSender > 0" > "{{ notif.publication?.libelle }}" </span>
                                <ion-badge color="primary" *ngIf="notif.isRead" style="float:right"> Vu </ion-badge>
                            </ion-label>
                            
                        </ion-item>
                        <ion-item-options *ngIf="!notif.isRead">
                            <ion-item-option (click)="setNotifAsRead(index)">
                                <span>Marquer comme vu</span>
                            </ion-item-option>
                        </ion-item-options>
          </ion-item-sliding>
          </div>

          <div *ngIf="notif.type ===  typeNotif_AccountSignal " >
            <ion-item (click)="goToDetailsSignal()" >
                <ion-avatar slot="start" *ngIf="notif.profilImgUrlSender != null ">
                    <img alt="Avatar" [src]="notif.profilImgUrlSender" />
                  </ion-avatar>
                  <ion-avatar slot="start" *ngIf="notif.profilImgUrlSender == null" >
                      <img alt="Avatar" src="/assets/icon/avatar.svg" />
                  </ion-avatar>
                <ion-label text-wrap>
                    <span style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%;"> <b class="name"> {{ notif.nomSender }} {{ notif.prenom }}</b> &nbsp; <p> {{ notif.message }} </p> </span>
                    <ion-badge color="primary" *ngIf="notif.isRead" style="float:right"> Lu </ion-badge>
                </ion-label>
                
            </ion-item>
          </div>

          <div *ngIf="notif.type === typeNotif_PremiumConfirmation || notif.type === typeNotif_admin" >
            <ion-item (click)="goToDetailsPremium(notif.message)" >
                <ion-avatar slot="start" *ngIf="notif.profilImgUrlSender != null ">
                    <img alt="Avatar" [src]="notif.profilImgUrlSender" />
                  </ion-avatar>
                  <ion-avatar slot="start" *ngIf="notif.profilImgUrlSender == null" >
                      <img alt="Avatar" src="/assets/icon/avatar.svg" />
                  </ion-avatar>
                <ion-label text-wrap>
                    <span style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%;"> <b class="name"> {{ notif.nomSender }} {{ notif.prenom }}</b> &nbsp; <p> {{ notif.message }} </p> </span>
                    <ion-badge color="primary" *ngIf="notif.isRead" style="float:right"> Lu </ion-badge>
                </ion-label>
                
            </ion-item>
          </div>
        </div>
    </ion-list>
     
</ion-content>