<ion-header>
  <ion-toolbar>
    <div *ngIf="actived" ><ion-back-button slot="start"></ion-back-button></div>
    <ion-title>Mon Profils</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <h2>{{ dataUser.nom }} {{ dataUser.prenom }} </h2>

    <div class="space-between">

      <div class="followings">
        <ion-badge color="primary" mode="ios">42M</ion-badge>
        <p>Abonnés</p>
      </div> 

      <div class="img-box">
        <span *ngIf="dataUser.profilImgUrl != null" id="open-modal" ><img [src]="dataUser.profilImgUrl"></span>
        <span *ngIf="dataUser.profilImgUrl == null" id="open-modal" ><img src="/assets/icon/avatar.svg"></span>
              <ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-title>Modal</ion-title>
                      <ion-buttons slot="end">
                        <ion-button (click)="modal.dismiss()">Close</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content class="ion-padding">
                    <p>You will be prompted when closing this modal.</p>
                  </ion-content>
                </ng-template>
              </ion-modal>
      </div>

      <div class="followings">
        <ion-badge color="primary" mode="ios">142</ion-badge>
        <p>Abonnement</p>
      </div>

    </div>

   <ion-row class="ion-padding">
    <ion-col>
      <ion-button color="primary" expand="block">
       <span> Modifier mon profil <ion-icon name="create" slot="end"></ion-icon> </span>
      </ion-button>
    </ion-col>
   </ion-row>
  </div>


  <ion-row class="ion-padding">
    <ion-col>
      <ion-button expand="block" type="reset" (click)="logout()" color="danger" id="login">Se Deconnecter</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
