<ion-content>
 <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="actualite">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Actualite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="account-profils">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="" *ngIf="isAdmin" >
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
 </ion-tabs>
</ion-content>
