<ion-header>
  <ion-toolbar>
  <ion-back-button slot="start"></ion-back-button>
    <ion-title>Mot de passe oublié</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="">
    <ion-list>
      <ion-item class="ion-margin">
        <ion-label position="floating">Addresse Email :</ion-label>
        <ion-input type="email" [(ngModel)]="addressEmail" name="username"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-button expand="block" type="reset" (click)="sendCode()" color="tertiary" id="login">Envoyer le code</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
