<ion-header [hidden]="showFullScreenImg">
  <ion-toolbar>
    <ion-title>Actualite</ion-title>

    <ion-segment [scrollable]="true" slot="end" (ionChange)="segmentChanged($event)" [(ngModel)]="type">
      <ion-segment-button value="home">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      
      <ion-segment-button value="globe">
        <ion-icon name="globe"></ion-icon>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content  *ngIf=" showFullScreen ? true:false">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="type">
    <div *ngSwitchCase="'home'">

       <div class="createPub">
        
          <ion-avatar slot="start" (click)="goToProfil()" *ngIf="dataUser.profilImgUrl != null" (click)="goToProfil()" >
            <img alt="Profile" [src]="dataUser.profilImgUrl | safePipe: 'url'" />
          </ion-avatar>
          <ion-avatar slot="start" (click)="goToProfil()" *ngIf="dataUser.profilImgUrl == null">
            <img alt="" src="/assets/icon/avatar.svg" />
          </ion-avatar>
          <ion-input id="open-modal1" [placeholder]="'Quoi de neuf ? ' + dataUser.prenom" disabled>
           
          </ion-input>
          
       </div>
       <ion-modal trigger="open-modal1" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Annuler</ion-button>
              </ion-buttons>
              <ion-title>Creation Publications</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirm()" [strong]="true">Publier</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-list id="ion-margin">
              <ion-item>
                <ion-label>Booster la Publication:</ion-label>
                <ion-toggle name="public" (click)="setOrUnsetPub()"></ion-toggle>
              </ion-item>
                <ion-item id="ion-padding">
                  <div class="camera">
                    <ion-buttons>
                      <label for="file" class="label-file">
                        <ion-icon name="camera" style="font-size: 35px;">  
                        </ion-icon>
                      </label>
                      <input type="file" id="file" class="input-file" (change)="listenerInputChange($event)" capture>
                    </ion-buttons>
                  </div>
               </ion-item>
              
                  <div *ngIf="!showApercu" >
                    <ion-item>
                      <ion-textarea class="custom-textarea" [(ngModel)]="publication.libelle" placeholder="Quoi de neuf ?"></ion-textarea>
                    </ion-item>
                  </div>

                  <div *ngIf="showApercu">
                      <ion-list class="head">
                              <ion-item>
                                      <ion-avatar slot="start" *ngIf="dataUser.profilImgUrl != null">
                                        <img alt="Avatar" [src]="dataUser.profilImgUrl | safePipe:'url'" />
                                      </ion-avatar>
                                      <ion-avatar slot="start" *ngIf="dataUser.profilImgUrl == null" >
                                          <img alt="Avatar" src="/assets/icon/avatar.svg" />
                                      </ion-avatar>
                                    <ion-label>
                                       <span class="name">{{ dataUser.nom }} {{ dataUser.prenom }}</span><br>
                                      <span class="datePub">19h30 min</span> <span class="isPublic">*****</span>
                                    </ion-label>
                              </ion-item>
                        </ion-list>  
                      <div class="apercu" [ngStyle]="{'background':  colorBgApercu}" (click)="renitAp()" >
                          
                          <span class="message"> {{ publication.libelle }} </span>
                      </div>
                </div>
                <div *ngIf="publication.url_file != null && typePublication === isImage" class="apercuImg" style="margin-top: 15px;">
                  <img [src]="publication.url_file | safePipe:'url'" alt="" width="100%">
                </div>
                <div *ngIf="publication.url_file != null && typePublication === isVideo" class="apercuImg" style="margin-top: 15px;">
                  <video [src]="publication.url_file | safePipe:'url'" alt="" width="100%" autoplay controls></video>
                </div>

                    <div class="choiceColor">
                          <div  *ngFor="let color of Color">
                            <div class="color" [ngStyle]="{'background': color.value }" (click)="setBgApercu(color.value)">
                            </div>
                          </div>
                    </div>

                <ion-row class="ion-padding">
                  <ion-col>
                    <ion-button expand="block" type="reset" (click)="confirm()" color="primary" id="login"> Publier </ion-button>
                  </ion-col>
                </ion-row>

            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>

      <div class="pub">
        <div *ngIf="listPublication.length === 0" style="text-align: center;">
          <ion-spinner name="dots" style="margin: auto;">
          </ion-spinner>
        </div>
        

            <div *ngFor="let pub of listPublication; let index = index" >                
                <ion-card style="width: 100% !important; margin-left: 0; margin-top: 2px;">
                      <ion-list class="head">
                              <ion-item lines="none">
                                      <ion-avatar slot="start" *ngIf="pub.profilImgUrl != null"  (click)="goToProfilFriend(pub.nom, pub.prenom)">
                                        <img alt="Avatar" [src]="pub.profilImgUrl | safePipe: 'url'" />
                                      </ion-avatar>
                                      <ion-avatar slot="start" *ngIf="pub.profilImgUrl == null"  (click)="goToProfilFriend(pub.nom, pub.prenom)">
                                          <img alt="Avatar" src="/assets/icon/avatar.svg" />
                                      </ion-avatar>
                                    <ion-label>
                                       <span class="name"  (click)="goToProfilFriend(pub.nom, pub.prenom)">{{ pub.nom }} {{ pub.prenom }}</span><br>
                                       <span class="datePub"> {{ pub.date_pub }} </span> 

                                       <span class="isPublic" *ngIf="pub.is_public === 0" >
                                        <ion-icon name="globe"  style="margin-left: 8px; font-size: 13px;"></ion-icon>
                                       </span>

                                       <span class="isPublic" *ngIf="pub.is_public === 1" >
                                        <ion-icon name="home" style="margin-left: 8px; font-size: 13px;"></ion-icon>
                                       </span>

                                        <span style="float: right; font-size: 12px;" (click)="actionSheetPub(pub.id_user, pub.id_pub, pub.PID, index, pub.libelle, false)"><sup class="menu">...</sup> </span>
                                      </ion-label>
                              </ion-item>
                        </ion-list>  

                         <div *ngIf="pub.url_file == null;then text_content else other_content"></div>
                          <ng-template #text_content>
                              <div class="apercu" [ngStyle]="{'background':  pub.colorBg}">   
                                <span class="message"> {{ pub.libelle }} </span>
                              </div>
                          </ng-template>
                          <ng-template #other_content>

                            <div *ngIf="pub.type_pub === isVideo;then video_content else image_content">here is ignored</div>
                            <ng-template #video_content>
                              <div class="pubImg" >  
                               <span class="message" style="margin-bottom: 10px;"> {{ pub.libelle }} </span>
                                <div>
                                  <video  width="100%" alt="" controls>
                                      <source [src]="pub.url_file" type="video/mp4"> 
                                  </video>
                                </div>
                              </div>  
                            </ng-template>

                            <ng-template #image_content>
                              <div class="pubImg">   
                                <span class="message" style="margin-bottom: 10px;"> {{ pub.libelle }} </span>
                                <div>

                                  <img [src]="pub.url_file | safePipe:'url' " width="100%" alt="" (click)="showFullScreen(pub.url_file)">
                                </div>
                            </div>  
                          </ng-template>
    
                              
                          </ng-template>

                         
                        

                      <div class="reaction">
                                <span (click)="getListUsersLike(pub.id_pub, pub.id_user)" *ngIf="pub.nbrLike > 0 ? true:false"[id]="'open' + pub.id_pub"> <ion-icon name="heart" class="heart"></ion-icon> {{ pub.nbrLike }}</span>
                                <ion-modal #modal [trigger]="'open' + pub.id_pub">
                                  <ng-template>
                                    <ion-header>
                                      <ion-toolbar>
                                        <ion-buttons slot="end">
                                          <ion-button (click)="modal.dismiss()">Quitter</ion-button>
                                        </ion-buttons>
                                        <ion-title>Publication de {{ pub.prenom }} </ion-title>
                          
                                      </ion-toolbar>
                                    </ion-header>
                                    <ion-content class="ion-padding">
                                      <ion-searchbar color="medium" placeholder="recherche" [(ngModel)]="searchValueListLike" (ionChange)="searchUserListLike()">
                                      </ion-searchbar>
                                        <div *ngIf="activeFieldListLikeRslt" >
                                          <ion-card>
                                            <ion-list id="ion-padding" *ngFor="let user of listUserLikeRslt" >
                                                  <ion-item >
                                                      <ion-avatar slot="start" *ngIf="user.profilImgUrl != null">
                                                        <img [src]="user.profilImgUrl | safePipe: 'url'" alt="Avatar">
                                                      </ion-avatar>  
                                                        <ion-avatar slot="start" *ngIf="user.profilImgUrl == null">
                                                            <img src="/assets/icon/avatar.svg" alt="">
                                                        </ion-avatar>
                                                        <ion-label> {{user.nom}} {{ user.prenom }} </ion-label>
                                                        <ion-label *ngIf="user.nom === dataUser.nom" > Vous </ion-label>
                                                        <ion-badge color="primary" slot="end"> {{ user.NbrFollow }} Abonnés </ion-badge>
                                                  </ion-item>
                                            </ion-list>
                                          </ion-card>
                                        </div>
                                        <div *ngIf="!activeFieldListLikeRslt">
                                            <ion-segment slot="end" [(ngModel)]="typeList">
                                              <ion-segment-button value="girl">
                                                  Filles
                                              </ion-segment-button>
                                              
                                              <ion-segment-button value="boy">
                                                  Garçons
                                              </ion-segment-button>
                                      
                                          </ion-segment>
                                          
                                          <div [ngSwitch]="typeList">
                                                <div *ngSwitchCase="'girl'">
                                                    <ion-card>
                                                      <ion-list id="ion-padding" *ngFor="let user of listUsersLike" >
                                                            <ion-item *ngIf="user.sexe === 'f' || user.sexe === 'F'">
                                                                  <ion-avatar slot="start" *ngIf="user.profilImgUrl != null">
                                                                    <img [src]="user.profilImgUrl | safePipe: 'url'" alt="Avatar">
                                                                  </ion-avatar>  
                                                                    <ion-avatar slot="start" *ngIf="user.profilImgUrl == null">
                                                                        <img src="/assets/icon/avatar.svg" alt="Avatar">
                                                                    </ion-avatar>

                                                                  <ion-label> {{user.nom}} {{ user.prenom }} </ion-label>
                                                                  <ion-label *ngIf="user.nom === dataUser.nom" > Vous </ion-label>  
                                                                  <ion-badge color="primary" slot="end"> {{ user.NbrFollow }} Abonnés </ion-badge>
                                                            </ion-item>
                                                      </ion-list>
                                                    </ion-card>
                                                </div>
                                                <div *ngSwitchCase="'boy'">
                                                  <ion-card style="margin-left: 0; margin-right: 0;" >
                                                    <ion-list id="ion-padding" *ngFor="let user of listUsersLike" >
                                                          <ion-item *ngIf="user.sexe === 'm' || user.sexe === 'M' ">
                                                              <ion-avatar slot="start" *ngIf="user.profilImgUrl != null">
                                                                    <img [src]="user.profilImgUrl | safePipe: 'url' " alt="">
                                                              </ion-avatar>  
                                                                <ion-avatar slot="start" *ngIf="user.profilImgUrl == null">
                                                                    <img src="/assets/icon/avatar.svg" alt="Avatar">
                                                                </ion-avatar>
                                                           
                                                                <ion-label> {{user.nom}} {{ user.prenom }} </ion-label>
                                                                <ion-badge color="primary" slot="end"> {{ user.NbrFollow }} Abonnés </ion-badge>
                                                          </ion-item>
                                                    </ion-list>
                                                  </ion-card>
                                              </div>
                                          </div>
                                        </div>
                                    </ion-content>
                                  </ng-template>
                                </ion-modal>
                                <ion-badge slot="end" style="float: right; margin-right: 5px;" *ngIf="pub.nbrCommentaire > 0" > {{ pub.nbrCommentaire }} Commentaires </ion-badge>
                      </div>

                      <div class="action">
                          <div class="like">
                              <ion-buttons slot="start" >
                                  <span *ngIf="pub.alreadyLike === 0"><ion-button (click)="doLike(pub.id_pub, index, pub)" >J'aime</ion-button></span>
                                  <span *ngIf="pub.alreadyLike !== 0" ><ion-button (click)="doUnLike(pub.id_pub, index, pub)" >J'aime plus</ion-button></span>
                              </ion-buttons>
                          </div>
                        
                          <div class="comment">
                            <ion-buttons slot="end">
                              <ion-button (click)="goToDetail(pub, index)" >Commenter</ion-button>
                          </ion-buttons>
                          </div>
                      </div>
                    </ion-card>
              </div>
            </div>
    </div>

    <div *ngSwitchCase="'globe'">
      <div *ngIf="listPublicationGLobe.length === 0" style="text-align: center;">
          <ion-spinner name="dots" style="margin: auto;">
          </ion-spinner>
        </div>
        <div class="globePub">
            <div *ngFor="let pub of listPublicationGLobe; let index = index">
                <ion-card style="width: 100% !important; margin-left: 0; margin-top: 2px;">
                      <ion-list class="head">
                              <ion-item>
                                      <ion-avatar slot="start" *ngIf="pub.profilImgUrl != null"  (click)="goToProfilFriend(pub.nom, pub.prenom)">
                                        <img alt="Avatar" [src]="pub.profilImgUrl | safePipe:'url'" />
                                      </ion-avatar>
                                      <ion-avatar slot="start" *ngIf="pub.profilImgUrl == null"  (click)="goToProfilFriend(pub.nom, pub.prenom)">
                                          <img alt="Avatar" src="/assets/icon/avatar.svg" />
                                      </ion-avatar>
                                    <ion-label >
                                       <span class="name"  (click)="goToProfilFriend(pub.nom, pub.prenom)">{{ pub.nom }} {{ pub.prenom }}</span><br>
                                       <span class="datePub"> {{ pub.date_pub }} </span> 

                                       <span class="isPublic" *ngIf="pub.is_public === 0" >
                                        <ion-icon name="globe"  style="margin-left: 8px; font-size: 13px;"></ion-icon>
                                       </span>

                                       <span class="isPublic" *ngIf="pub.is_public === 1" >
                                        <ion-icon name="home" style="margin-left: 8px; font-size: 13px;"></ion-icon>
                                       </span>

                                        <span style="float: right; font-size: 12px;" (click)="actionSheetPub(pub.id_user, pub.id_pub, pub.PID, index, pub.libelle, false)"><sup class="menu">...</sup> </span>
                                      </ion-label>
                              </ion-item>
                        </ion-list>  
                        <div *ngIf="pub.url_file == null">  

                          <div class="apercu" [ngStyle]="{'background':  pub.colorBg}">   
                              <span class="message"> {{ pub.libelle }} </span>
                          </div>

                         </div>
                         
                         <div *ngIf="pub.url_file != null">   

                              <div class="pubImg" *ngIf="pub.type_pub === isImage" >   
                                  <span class="message" style="margin-bottom: 10px;"> {{ pub.libelle }} </span>
                                  <div>
                                    <img [src]="pub.url_file | safePipe:'url' " width="100%" alt="" (click)="showFullScreen(pub.url_file)">
                                  </div>
                              </div>

                              <div class="pubImg" *ngIf="pub.type_pub === isVideo" >   
                                <span class="message" style="margin-bottom: 10px;"> {{ pub.libelle }} </span>
                                <div>
                                  <video [src]="pub.url_file | safePipe:'url' " width="100%" alt="" autoplay controls></video>
                                </div>
                              </div>

                          </div>

                      <div class="reaction">
                                <span> <ion-icon name="heart" class="heart"></ion-icon> {{ pub.nbrLike }}</span>
                                <ion-badge slot="end" style="float: right; margin-right: 5px;" *ngIf="pub.nbrCommentaire > 0" > {{ pub.nbrCommentaire }} Commentaires </ion-badge>
                      </div>

                      <div class="action">
                          <div class="like">
                              <ion-buttons slot="start" >
                                  <span *ngIf="pub.alreadyLike === 0"><ion-button (click)="doLike(pub.id_pub, index, pub, true)" >J'aime</ion-button></span>
                                  <span *ngIf="pub.alreadyLike !== 0" ><ion-button (click)="doUnLike(pub.id_pub, index, pub, true)" >J'aime plus</ion-button></span>
                              </ion-buttons>
                          </div>
                        
                          <div class="comment">
                            <ion-buttons slot="end">
                              <ion-button (click)="goToDetail(pub, index)" >Commenter</ion-button>
                          </ion-buttons>
                          </div>
                      </div>
                    </ion-card>
              </div>
         </div>
      </div>
 </div>
</ion-content>
<div class="displayImg" *ngIf="showFullScreenImg">
  <img [src]="fullScreenBgUrl | safePipe:'url'" alt="Avatar"  class="imgToDisplay" (click)="showFullScreen()">
</div>
