<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Messages
    </ion-title>
    <ion-buttons slot="end">
      <span>{{ dataUser[0].nom }} <span class="connectionState" [ngStyle]="{'color': webSocket.connectionState === 200 ? 'yellowgreen': 'red'}">°</span></span>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar color="medium" placeholder="search" [(ngModel)]="search.value" (ionChange)="searchUser()" (ionFocus)="enableResultField()">
  </ion-searchbar>
  <div class="resultSearch" *ngIf="activFieldResults">
    <div>
      <span *ngIf="listOfSearchBar.length === 0" style="margin-left: 10px; font-size: 18px;"> Aucune discussion avec {{ search.value }} </span>
      <ion-list>
        <div *ngFor="let item of listOfSearchBar; let index = index">
          <ion-item-sliding>
            <ion-item-options side="start">
              <ion-item-option color="success">
                <ion-icon slot="end" name="archive"></ion-icon>
                  Archive
              </ion-item-option>
            </ion-item-options>
              
            <ion-item (click)="goToDiscusion(item.id_destinateur_user, item, index)">
                  <ion-avatar slot="start" *ngIf="item.imageEnvoyeur != null && item.id_sender != dataUser[0].id_users">
                    <img alt="" [src]="item.imageEnvoyeur" />
                    <div *ngIf="wsNotif.tabAbment.includes(item.idUser)" >
                      <ion-icon name="" style="background-color: greenyellow; border-radius: 35px;position: fixed; z-index: 1; margin-left: -25px;"> 
                      </ion-icon>
                     </div>
                  </ion-avatar>
                  <ion-avatar slot="start" *ngIf="item.imageEnvoyeur != null && item.id_sender == dataUser[0].id_users">
                    <img alt="" src="/assets/icon/avatar.svg" />
                    <div *ngIf="wsNotif.tabAbment.includes(item.idUser)" >
                      <ion-icon name="" style="background-color: greenyellow; border-radius: 35px;position: fixed; z-index: 1; margin-left: -25px;"> 
                      </ion-icon>
                     </div>
                  </ion-avatar>
                  <ion-avatar slot="start" *ngIf="item.imageEnvoyeur == null" >
                      <img alt="Silhouette of a person's head" src="/assets/icon/avatar.svg" />
                      <div *ngIf="wsNotif.tabAbment.includes(item.idUser)" >
                        <ion-icon name="" style="background-color: greenyellow; border-radius: 35px;position: fixed; z-index: 1; margin-left: -25px;"> 
                        </ion-icon>
                       </div>
                    </ion-avatar>
                   
              <ion-label>
               <h3><p><span [ngClass]="(item.statut === 0 || !item.statut) &&  item.id_sender != dataUser[0].id_users ? 'notRead':'none' ">{{ item.nom}} {{ item.prenom}}</span></p></h3>
               <span style="color: gray;" [ngClass]="(item.statut == 0 || !item.statut) && item.id_sender != dataUser[0].id_users ? 'notRead':'none' ">
                <span *ngIf="item.id_sender === dataUser[0].id_users">
                  <em>vous:</em>
                </span> 
                <span *ngIf="item.type === typeMsg.TEXT " >{{ item.libelle }}</span>
                <span *ngIf="item.type === typeMsg.IMAGE ">
                    Photo <ion-icon name="camera"></ion-icon>
               </span>
             </span>
             <span style="float: right; font-size: 5px; z-index: 1; position: fixed; margin-left: 90%;"> 
                <ion-badge color="primary" mode="ios">{{ item.date_envoie }} </ion-badge>
              </span>
              </ion-label>
            </ion-item>
        
            <ion-item-options>
              <ion-item-option (click)="presentAlertSetSecurity(item.id_destinateur_user, item)">
                <ion-icon slot="end" name="heart"></ion-icon>
                 <span *ngIf="!listDiscSecur.discussion_list.includes(item.id_destinateur_user) && !listDiscSecur.discussion_list.includes(item.id_sender)">
                   Proteger
                </span>
                <span *ngIf="listDiscSecur.discussion_list.includes(item.id_destinateur_user) || listDiscSecur.discussion_list.includes(item.id_sender)">
                  Enlever
               </span>  
              </ion-item-option>
              <ion-item-option color="danger" (click)="presentAlertDel(item.id_destinateur_user, item)">
                <ion-icon slot="end" name="trash"></ion-icon>
                Supprimer
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
    </ion-list>
    </div>
  </div>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!activFieldResults" >
      <div id="container" *ngIf="listOfSender.length === 0" >
        <span><h2>Aucun Message</h2></span> 
      </div>

      <ion-list>
          <div *ngFor="let item of listOfSender; let index = index">
            <ion-item-sliding>
              <ion-item-options side="start">
                <ion-item-option color="success">
                  <ion-icon slot="end" name="archive"></ion-icon>
                  Archive
                </ion-item-option>
              </ion-item-options>
                
              <ion-item (click)="goToDiscusion(item.id_destinateur_user, item, index)">
                   <ion-avatar slot="start" *ngIf="item.imageEnvoyeur != null && item.id_sender != dataUser[0].id_users">
                    <img alt="" [src]="item.imageEnvoyeur" />
              
                  </ion-avatar>
                  <ion-avatar slot="start" *ngIf="item.imageEnvoyeur != null && item.id_sender == dataUser[0].id_users">
                    <img alt="" src="/assets/icon/avatar.svg" />
                    
                  </ion-avatar>
                  <ion-avatar slot="start" *ngIf="item.imageEnvoyeur == null" >
                      <img alt="Silhouette of a person's head" src="/assets/icon/avatar.svg" />
                      
                    </ion-avatar>
                    <div *ngIf="wsNotif.tabAbment.includes(item.idUser)" >
                      <ion-icon name="" style="background-color: greenyellow; border-radius: 35px;position: fixed; z-index: 1; margin-left: -25px;"> 
                      </ion-icon>
                     </div>
                <ion-label>
                 <h3><p><span [ngClass]="(item.statut === 0 || !item.statut) &&  item.id_sender != dataUser[0].id_users ? 'notRead':'none' ">{{ item.nom}} {{ item.prenom}}</span></p></h3>
                 <span style="color: gray;" [ngClass]="(item.statut == 0 || !item.statut) && item.id_sender != dataUser[0].id_users ? 'notRead':'none' ">
                    <span *ngIf="item.id_sender === dataUser[0].id_users">
                      <em>vous:</em>
                    </span> 
                    <span *ngIf="item.type === typeMsg.TEXT " >{{ item.libelle }}</span>
                    <span *ngIf="item.type === typeMsg.IMAGE ">
                        Photo <ion-icon name="camera"></ion-icon>
                   </span>
                 </span>
                <span style="float: right; font-size: 5px; z-index: 1;"> 
                  <ion-badge color="primary" mode="ios">{{ item.date_envoie }} </ion-badge>
                </span>
                </ion-label>
              </ion-item>
          
              <ion-item-options>
                <ion-item-option (click)="presentAlertSetSecurity(item.id_destinateur_user, item)">
                  <ion-icon slot="end" name="heart"></ion-icon>
                   <span *ngIf="!listDiscSecur.discussion_list.includes(item.id_destinateur_user) && !listDiscSecur.discussion_list.includes(item.id_sender)">
                     Proteger
                  </span>
                  <span *ngIf="listDiscSecur.discussion_list.includes(item.id_destinateur_user) || listDiscSecur.discussion_list.includes(item.id_sender)">
                    Enlever
                 </span>  
                </ion-item-option>
                <ion-item-option color="danger" (click)="presentAlertDel(item.id_destinateur_user, item)">
                  <ion-icon slot="end" name="trash"></ion-icon>
                  Supprimer
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </div>
      </ion-list>
</div>
</ion-content>
