
  .contener{
    width: 100%;
    height: 90%;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    .sending{
        float: right;
        width: fit-content;
        max-width: 250px;
        height: fit-content;
        min-height: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #39b912;
        color: #fff;
        padding-left: 3px;
        padding-bottom: 4px;
        padding-top: 6px;
        border-radius: 20px;
        .msg{
          padding-left: 3px;
          padding-right: 5px;
          padding-bottom: 3px;
          margin-bottom: 2px;
          margin-top: 3px;
          margin-left: 4px;
          
        }
        .date{
          font-size: 8px;
          margin-right: 14%;
          margin-bottom: 3px;
          float: right;
        }
        .confirmation{
          font-size: 15px;
          color: rgb(201, 198, 39);
        }
    }
    .received{
      width: fit-content;
      max-width: 250px;
      min-height: 30px;
      padding-left: 3px;
      padding-bottom: 4px;
      padding-top: 6px;
      padding-right: 3px;
      display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      height: fit-content;
      background-color: #4a5353;
      color: #fff;
      border-radius: 20px;
        .msg{
          padding-left: 3px;
          padding-right: 5px;
          margin-bottom: 2px;
          margin-top: 3px;
          margin-left: 5px;
        }
      .date{
        font-size: 8px;
        margin-left: 14%;
        margin-bottom: 3px;
        float: left;
      }
  }

  .field{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    z-index: 1;
    text-align: center;
    background-color: #1f2e30;
    .custom-textarea {
        background-color: #2b2929;
        color: #fff;
        width: 80%;
        padding: 25px;
        border: none;
        
    }
    .send{
      margin-top: 10px;
      margin-bottom: 10px;
      width: 15%;
      margin-left: 10px;
      font-size: 30px;
    }
  }
  }

