<ion-header [hidden]="showFullScreenImg">
  <ion-toolbar>
  <ion-back-button slot="start" (click)="renitListMessage()"></ion-back-button>
    <div (click)="goToProfil()">
      <ion-title>{{ receivData.nom }} {{ receivData.prenom }} <br>
        <span *ngIf="wsNotif.tabAbment.includes(receivData.id_user)" style="font-size: 14px; font-weight: normal;">
          en ligne
        </span>
      </ion-title>
    </div>
    <ion-buttons slot="end" (click)="notAvailable()">
      <div style="font-size: 25px; margin-right: 20px;">
        <ion-icon name="videocam"></ion-icon> 
      </div>
      <div style="font-size: 25px; margin-left: 10px;" >
         <ion-icon name="call"></ion-icon> 
     </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contener">
  <div class="chat-box">
    <div *ngFor="let item of message; let index=index" >
      <ion-row>
        <ion-col>
          <div *ngIf="item.type === typeMsg.TEXT">
            <div [ngClass]="item.isReceived === 1 || item.isReceived ? 'received':'sending'" (click)="showDetailmsg(item, index)">
                      <span class="msg">
                          {{item.libelle}}
                      </span><br>
            </div> 
        </div>
        <div *ngIf="item.type === typeMsg.IMAGE">
          <div [ngClass]="item.isReceived === 1 || item.isReceived ? 'imgReceived':'imgSending'" >
            <img [src]="item.imgBase64Url" alt="" class="imgMsg" (click)="showFullScreen(item.imgBase64Url)">
          </div>
        </div> 
        </ion-col> 
      </ion-row>
    </div>
  </div>


  <ion-footer class="field" [hidden]="showFullScreenImg">
        <span class="camera">
          <ion-buttons>
            <label for="file" class="label-file"> 
              <ion-icon name="camera">  
              </ion-icon>
            </label>
          <input type="file" id="file" capture class="input-file" #filechooser camera>
          </ion-buttons>
        </span>
       
        <ion-textarea class="custom-textarea" (ionChange)="setColor('primary')" [(ngModel)]="value" [value]="value" [autocapitalize]="true" placeholder="Type something here"></ion-textarea>
          <span class="send">
            <ion-buttons (click)="sendMessage()">
                <ion-icon name="send-outline" [color]="colorSendBtn"></ion-icon>
            </ion-buttons>
          </span>
  </ion-footer>
  
</ion-content>

<div class="displayImg" *ngIf="showFullScreenImg">
  <img [src]="fullScreenBgUrl" alt=""  class="imgToDisplay" (click)="showFullScreen()">
</div>
