
  ion-content{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    --background: url('../../../../assets/icon/chatBackground.jpeg') 0 0/100% 100% no-repeat;
    padding-bottom: 5px;
    .chat-box{
      position: relative;
      top: 0;
      margin-top: 0px !important;
      height: 100%;
      height: fit-content;
      margin-bottom: 18%;
      .sending{
        float: right;
        width: fit-content;
        max-width: 250px;
        height: fit-content;
        min-height: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #39b912;
        color: #fff;
        padding-left: 3px;
        padding-bottom: 4px;
        padding-top: 6px;
        border-radius: 20px;
        .msg{
          padding-left: 3px;
          padding-right: 5px;
          padding-bottom: 3px;
          margin-bottom: 2px;
          margin-top: 3px;
          margin-left: 4px;
          
        }
        .date{
          font-size: 8px;
          margin-right: 14%;
          margin-bottom: 3px;
          float: right;
        }
        .confirmation{
          font-size: 15px;
          color: rgb(201, 198, 39);
        }
        
    }
    .received{
      width: fit-content;
      max-width: 250px;
      min-height: 30px;
      padding-left: 3px;
      padding-bottom: 4px;
      padding-top: 6px;
      padding-right: 3px;
      display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      height: fit-content;
      background-color: #4a5353;
      color: #fff;
      border-radius: 20px;
        .msg{
          padding-left: 3px;
          padding-right: 5px;
          margin-bottom: 2px;
          margin-top: 3px;
          margin-left: 5px;
        }
      .date{
        font-size: 8px;
        margin-left: 14%;
        margin-bottom: 3px;
        float: left;
      }
     
    }

    .imgReceived{
      max-width: 250px;
      min-height: 30px;
      padding-left: 3px;
      padding-bottom: 4px;
      padding-top: 6px;
      padding-right: 3px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: fit-content;
      .ImgMsg{  
          height: 90px;
          width: 150px;
      }
    }
    .imgSending{
      float: right;
      width: fit-content;
      max-width: 250px;
      height: fit-content;
      min-height: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .ImgMsg{  
        height: 90px;
        width: 150px;
      }
    }
  }

  .field{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    z-index: 1;
    margin-top: 10%;
    text-align: center;
    background-color: #1f2e30;
    .custom-textarea {
        background-color: #2b2929;
        color: #fff;
        width: 80%;
        padding: 5px;
        border: none;
        
    }
    .send{
      margin-top: 10px;
      margin-bottom: 10px;
      width: auto;
      margin-left: 10px;
      font-size: 30px;
    }
    .camera{
      width: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      font-size: 30px;
        .label-file {
          cursor: pointer;
          color: #193c41;
          font-weight: bold;
         }
      .label-file:hover {
          color: #25a5c4;
      }
      .input-file {
          display: none;
        } 
    }
  }
}
.displayImg{
  width: 100%;
  height: 100%;
  .imgToDisplay{
      width: 100%;
      height: 100%;
  }
}