<ion-header [translucent]="true" [hidden]="showFullScreenImg">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button> 
    <ion-title>
      Profil
    </ion-title>
    <ion-buttons slot="end" color="danger" (click)="signal()">
      <span style="color: red;">
        Signaler
      </span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="header">
    <h2>{{ dataUserFound.nom }} {{ dataUserFound.prenom }} <span *ngIf="dataUserFound.isPremiumAccount"> <ion-icon name="ribbon-outline" color="tertiary"></ion-icon> </span> </h2>

    <div class="space-between">

        <div class="followings">
          <ion-badge color="primary" mode="ios">
              {{ listAbonne.length }}
          </ion-badge>
          <p *ngIf="listAbonne.length > 1">Followers</p>
          <p *ngIf="listAbonne.length == 1 || listAbonne.length == 0">Follower</p>

        </div> 
                  <div class="img-box">
                      <span *ngIf="dataUserFound.profilImgUrl != null" ><img [src]="dataUserFound.profilImgUrl" class="urlImage"></span>
                      <span *ngIf="dataUserFound.profilImgUrl == null" ><img src="/assets/icon/avatar.svg" class="urlImage"></span>
                  </div>

                    <div class="followings">
                      <ion-badge color="primary" mode="ios">
                          {{ listAbonnenment.length }}
                      </ion-badge>
                      <p *ngIf="listAbonnenment.length > 1">Abonnements</p>
                      <p *ngIf="listAbonnenment.length == 1 || listAbonnenment.length == 0">Abonnement </p>

                    </div>
    </div>
      
            <ion-row class="ion-padding">
              <ion-col>
                <ion-button color="primary" expand="block" (click)="follow()" >
                  <span *ngIf="isAlreadyFollowed" > Se desabonner </span>
                  <span *ngIf="!isAlreadyFollowed" > S'abonner <ion-icon name="person-add-outline"></ion-icon> </span>

                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="light" expand="block" (click)="goToChatPage()">
                <span> Ecrire... </span>
                </ion-button>
              </ion-col>
            </ion-row>

</div>


  <ion-segment value="all" [(ngModel)]="type" [scrollable]="true">
      <ion-segment-button value="publications">
        Publications
      </ion-segment-button>
      <ion-segment-button value="followers">
        Followers
      </ion-segment-button>
      <ion-segment-button value="abonnement">
        Abonnement
      </ion-segment-button>
      <ion-segment-button value="infos">
        A propos
      </ion-segment-button>
  </ion-segment>

  <div style="text-align: center" *ngIf="showSpinnear" >
    <ion-spinner name="dots" style="margin: auto;">
    </ion-spinner>
  </div>

  <div [ngSwitch]="type">
    <div *ngSwitchCase="'publications'">
                <div *ngIf="listPublication.length === 0">
                  <p>
                    <ion-text> Aucune publication...</ion-text>
                  </p>
                </div>
                    <div class="pub">
                      <div *ngFor="let pub of listPublication; let index = index" >
                          <ion-card style="width: 100% !important; margin-left: 0; margin-top: 2px;">
                                <ion-list class="head">
                                        <ion-item lines="none">
                                                <ion-avatar slot="start" *ngIf="pub.profilImgUrl != null">
                                                  <img alt="" [src]="pub.profilImgUrl" />
                                                </ion-avatar>
                                                <ion-avatar slot="start" *ngIf="pub.profilImgUrl == null" >
                                                    <img alt="Silhouette of a person's head" src="/assets/icon/avatar.svg" />
                                                </ion-avatar>
                                              <ion-label>
                                                <span class="name">{{ pub.nom }} {{ pub.prenom }}</span><br>
                                                <span class="datePub"> {{ pub.date_pub }} </span> 
          
                                                <span class="isPublic" *ngIf="pub.is_public === 0" >
                                                  <ion-icon name="globe"  style="margin-left: 8px; font-size: 13px;"></ion-icon>
                                                </span>
          
                                                <span class="isPublic" *ngIf="pub.is_public === 1" >
                                                  <ion-icon name="home" style="margin-left: 8px; font-size: 13px;"></ion-icon>
                                                </span>
          
                                                  <span style="float: right; font-size: 12px;">
                                                    <sup class="menu" *ngIf="pub.id_user === dataCurrentUser.id_users" >
                                                      ...
                                                    </sup>
                                                  </span>
                                                </ion-label>
                                        </ion-item>
                                  </ion-list>  
                                   
                                   <div *ngIf="pub.url_file == null;then text_content else other_content"></div>
                                      <ng-template #text_content>
                                          <div class="apercu" [ngStyle]="{'background':  pub.colorBg}">   
                                            <span class="message"> {{ pub.libelle }} </span>
                                          </div>
                                      </ng-template>
                                      <ng-template #other_content>
            
                                        <div *ngIf="pub.type_pub === isVideo;then video_content else image_content">here is ignored</div>
                                        <ng-template #video_content>
                                          <div class="pubImg" >  
                                            <span class="message" style="margin-bottom: 10px;"> {{ pub.libelle }} </span>
                                            <div>
                                              <video  width="100%" alt="" controls>
                                                  <source [src]="pub.url_file" type="video/mp4"> 
                                              </video>
                                            </div>
                                          </div>  
                                        </ng-template>
            
                                        <ng-template #image_content>
                                          <div class="pubImg">   
                                            <span class="message" style="margin-bottom: 10px;"> {{ pub.libelle }} </span>
                                            <div>
            
                                              <img [src]="pub.url_file " width="100%" alt="" (click)="showFullScreen(pub.url_file)">
                                            </div>
                                        </div>  
                                      </ng-template>

                                   </ng-template>

                                   
                                <div class="reaction">
                                    <span (click)="getListUsersLike(pub.id_pub, pub.id_user)" *ngIf="pub.nbrLike > 0 ? true:false" [id]="'open' + pub.id_pub"> {{ pub.nbrLike }} <ion-icon name="heart" class="heart"></ion-icon> </span>
                                    <ion-modal #modal [trigger]="'open' + pub.id_pub">
                                      <ng-template>
                                        <ion-header>
                                          <ion-toolbar>
                                            <ion-buttons slot="end">
                                              <ion-button (click)="modal.dismiss()">Quitter</ion-button>
                                            </ion-buttons>
                                            <ion-title>Publication de {{ pub.prenom }} </ion-title>
                              
                                          </ion-toolbar>
                                        </ion-header>
                                        <ion-content class="ion-padding">
                                          <ion-searchbar color="medium" placeholder="recherche" [(ngModel)]="searchValueListLike" (ionChange)="searchUserListLike()">
                                          </ion-searchbar>
                                            <div *ngIf="activeFieldListLikeRslt" >
                                              <ion-card>
                                                <ion-list id="ion-padding" *ngFor="let user of listUserLikeRslt" >
                                                      <ion-item>
                                                            <ion-avatar slot="start" *ngIf="user.profilImgUrl != null">
                                                              <img [src]="user.profilImgUrl" alt="">
                                                            </ion-avatar>  
                                                            <ion-avatar slot="start" *ngIf="user.profilImgUrl == null">
                                                                <img src="/assets/icon/avatar.svg" alt="">
                                                            </ion-avatar>
                                                            <ion-label *ngIf="user.nom === dataCurrentUser.nom" > Vous </ion-label>
                                                            <ion-badge color="primary" slot="end"> {{ user.NbrFollow }} Abonnés </ion-badge>
                                                      </ion-item>
                                                </ion-list>
                                              </ion-card>
                                            </div>
                                            <div *ngIf="!activeFieldListLikeRslt">
                                                <ion-segment slot="end" [(ngModel)]="typeList">
                                                  <ion-segment-button value="girl">
                                                      Filles
                                                  </ion-segment-button>
                                                  
                                                  <ion-segment-button value="boy">
                                                      Garçons
                                                  </ion-segment-button>
                                          
                                              </ion-segment>
                                              
                                              <div [ngSwitch]="typeList">
                                                    <div *ngSwitchCase="'girl'">
                                                        <ion-card>
                                                          <ion-list id="ion-padding" *ngFor="let user of listUsersLike" >
                                                                <ion-item *ngIf="user.sexe === 'f' || user.sexe === 'F'">
                                                                        <ion-avatar slot="start" *ngIf="user.profilImgUrl != null">
                                                                          <img [src]="user.profilImgUrl" alt="">
                                                                        </ion-avatar>  
                                                                      <ion-avatar slot="start" *ngIf="user.profilImgUrl == null">
                                                                          <img src="/assets/icon/avatar.svg" alt="">
                                                                      </ion-avatar>
                                                                      <ion-label> {{user.nom}} {{ user.prenom }} </ion-label>
                                                                      <ion-label *ngIf="user.nom === dataCurrentUser.nom" > Vous </ion-label>  
                                                                      <ion-badge color="primary" slot="end"> {{ user.NbrFollow }} Abonnés </ion-badge>
                                                                </ion-item>
                                                          </ion-list>
                                                        </ion-card>
                                                    </div>
                                                    <div *ngSwitchCase="'boy'">
                                                      <ion-card style="margin-left: 0; margin-right: 0;">
                                                        <ion-list id="ion-padding" *ngFor="let user of listUsersLike" >
                                                              <ion-item *ngIf="user.sexe === 'm' || user.sexe === 'M' " >
                                                                  <ion-avatar slot="start" *ngIf="user.profilImgUrl != null">
                                                                        <img [src]="user.profilImgUrl" alt="">
                                                                  </ion-avatar>  
                                                                    <ion-avatar slot="start" *ngIf="user.profilImgUrl == null">
                                                                        <img src="/assets/icon/avatar.svg" alt="">
                                                                    </ion-avatar>
                                                               
                                                                    <ion-label> {{user.nom}} {{ user.prenom }} </ion-label>
                                                                    <ion-badge color="primary" slot="end"> {{ user.NbrFollow }} Abonnés </ion-badge>
                                                              </ion-item>
                                                        </ion-list>
                                                      </ion-card>
                                                  </div>
                                              </div>
                                            </div>
                                        </ion-content>
                                      </ng-template>
                                    </ion-modal>
                                    <ion-badge slot="end" style="float: right; margin-right: 5px;" *ngIf="pub.nbrCommentaire > 0" > {{ pub.nbrCommentaire }} Commentaires </ion-badge>
                                </div>
          
                                <div class="action">
                                    <div class="like">
                                        <ion-buttons slot="start" >
                                            <span *ngIf="pub.alreadyLike === 0"><ion-button (click)="doLike(pub.id_pub, index)" >Jaime</ion-button></span>
                                            <span *ngIf="pub.alreadyLike !== 0" ><ion-button (click)="doUnLike(pub.id_pub, index)" >Jaime plus</ion-button></span>
                                          </ion-buttons>
                                    </div>
                                  
                                    <div class="comment">
                                      <ion-buttons slot="end">
                                        <ion-button (click)="goToDetail(pub, index)" >Commenter</ion-button>
                                       
                                      </ion-buttons>
                                    </div>
                                </div>
                            </ion-card>
                      </div>
                </div>
            </div>

   <div *ngSwitchCase="'followers'">
      <p *ngIf="listAbonne.length == 0" >Aucun Follower </p>
      <ion-searchbar color="ligth" placeholder="recherche" [(ngModel)]="searchValue" (ionChange)="searchFollowers(1)">
      </ion-searchbar>

      <div *ngIf="activeFieldSearchResult">
            <ion-list *ngFor="let follower of listSearchFollowers" class="ion-margin">
              <ion-item>
                <ion-avatar slot="start" *ngIf="follower.profilImgUrl != null">
                  <img alt="" [src]="follower.profilImgUrl " />
                </ion-avatar>
                <ion-avatar slot="start" *ngIf="follower.profilImgUrl == null" >
                    <img alt="" src="/assets/icon/avatar.svg" />
                </ion-avatar>
                <ion-label *ngIf="follower.id_users != dataCurrentUser.id_users " > {{ follower.nom }} {{ follower.prenom }} </ion-label>
                <ion-label *ngIf="follower.id_users == dataCurrentUser.id_users " > Vous </ion-label>
            </ion-item>
          </ion-list>
      </div>

      <div *ngIf="!activeFieldSearchResult" >
            <ion-list *ngFor="let follower of listAbonne" class="ion-margin">
              <ion-item>
                <ion-avatar slot="start" *ngIf="follower.profilImgUrl != null">
                  <img alt="" [src]="follower.profilImgUrl " />
                </ion-avatar>
                <ion-avatar slot="start" *ngIf="follower.profilImgUrl == null" >
                    <img alt="" src="/assets/icon/avatar.svg" />
                </ion-avatar>
                <ion-label *ngIf="follower.id_users != dataCurrentUser.id_users " > {{ follower.nom }} {{ follower.prenom }} </ion-label>
                <ion-label *ngIf="follower.id_users == dataCurrentUser.id_users " > Vous </ion-label>
            </ion-item>
          </ion-list>
      </div>

    </div>

    <div *ngSwitchCase="'abonnement'">
      <ion-searchbar color="ligth" placeholder="recherche" [(ngModel)]="searchValueAbm" (ionChange)="searchAbm()">
      </ion-searchbar>
      <p> {{ dataUserFound.prenom }} Est Abonné à :</p>

      <div *ngIf="activeFieldSearchResultAbm" >
        <ion-list *ngFor="let item of listSearchAbm"  class="ion-margin">
          <ion-item>
            <ion-avatar slot="start" *ngIf="item.profilImgUrl != null">
              <img alt="" [src]="item.profilImgUrl " />
            </ion-avatar>
            <ion-avatar slot="start" *ngIf="item.profilImgUrl == null" >
                <img alt="" src="/assets/icon/avatar.svg" />
             </ion-avatar>
              <ion-label *ngIf="item.id_users != dataCurrentUser.id_users " > {{ item.nom }} {{ item.prenom }} </ion-label>
              <ion-label *ngIf="item.id_users == dataCurrentUser.id_users " > Vous </ion-label>
          </ion-item>
        </ion-list>
      </div>

      <div *ngIf="!activeFieldSearchResultAbm">
        <ion-list *ngFor="let item of listAbonnenment" class="ion-padding">
          <ion-item>
            <ion-avatar slot="start" *ngIf="item.profilImgUrl != null">
              <img alt="" [src]="item.profilImgUrl " />
            </ion-avatar>
            <ion-avatar slot="start" *ngIf="item.profilImgUrl == null" >
                <img alt="" src="/assets/icon/avatar.svg" />
             </ion-avatar>
              <ion-label *ngIf="item.id_users != dataCurrentUser.id_users " > {{ item.nom }} {{ item.prenom }} </ion-label>
              <ion-label *ngIf="item.id_users == dataCurrentUser.id_users " > Vous </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div *ngSwitchCase="'infos'">
      <ion-card class="ion-padding" style="margin-left: 0; margin-right: 0;">
          <ion-card-title>
             <span style="font-size: 20px;"> A propos de {{ dataUserFound.prenom}} :</span>
              
          </ion-card-title>
          <ion-card-content>
              <ion-item class="ion-margin">
                  <ion-label>
                      <span>Nom :</span>
                      <span style="float: right">{{ dataUserFound.nom }} </span>
                  </ion-label>
              </ion-item>

              <ion-item class="ion-margin">
                <ion-label>
                    <span>Prenom :</span>
                    <span style="float: right">{{ dataUserFound.prenom }} </span>
                </ion-label>
            </ion-item>

            <ion-item class="ion-margin">
              <ion-label>
                  <span>Age :</span>
                  <span  style="float: right">{{ dataUserFound.age }} </span>
              </ion-label>
          </ion-item>

          <ion-item class="ion-margin">
            <ion-label>
                <span>Sexe :</span>
                <span  style="float: right">{{ dataUserFound.sexe }} </span>
            </ion-label>
        </ion-item>

        <ion-item class="ion-margin">
          <ion-label>
              <span>Date de naissance :</span>
              <span  style="float: right">{{ dataUserFound.date_naiss }} </span>
          </ion-label>
      </ion-item>
          </ion-card-content>
      </ion-card>


      <ion-card class="ion-padding" style="margin-left: 0; margin-right: 0;">
        <ion-card-title>
           <span style="font-size: 20px;"> Coordonées :</span>
            
        </ion-card-title>
        <ion-card-content >
            <ion-item class="ion-margin">
                <ion-label>
                    <span>Adresse mail :</span>
                    <span style="float: right">{{ dataUserFound.email }} </span>
                </ion-label>
            </ion-item>

            <ion-item class="ion-margin">
              <ion-label>
                  <span> Pays :</span>
                  <span style="float: right">{{ dataUserFound.pays }} </span>
              </ion-label>
          </ion-item>

          <ion-item class="ion-margin">
            <ion-label>
                <span>Ville:</span>
                <span  style="float: right">{{ dataUserFound.ville }} </span>
            </ion-label>
        </ion-item>
        </ion-card-content>
    </ion-card>

      <ion-card class="ion-padding" style="margin-left: 0; margin-right: 0;">
        <ion-card-title>
           <span style="font-size: 20px;"> Compte :</span>
            
        </ion-card-title>
        <ion-card-content>
            <ion-item class="ion-margin">
                <ion-label>
                    <span>Followers :</span>
                    <span style="float: right">{{ listAbonne.length }} </span>
                </ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-label>
                  <span> Date Creation :</span>
                  <span style="float: right">{{ dataUserFound.date_creationAccount }} </span>
              </ion-label>
          </ion-item>
        </ion-card-content>
    </ion-card>
   </div>
  </div>
</ion-content>
<div class="displayImg" *ngIf="showFullScreenImg">
  <img [src]="fullScreenBgUrl" alt=""  class="imgToDisplay" (click)="showFullScreen()">
</div>

